.row
  .col-md-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-lg-12
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.datatable-table#datatable-masa-parcela
                %thead
                  %th Nro Bloque
                  %th Nro Parcela
                  %th Densidad (arb/ha)
                  %th Área Basal (m2/ha)
                  %th Volumen (m3/ha)
                  %th Abundancia Efectiva
                %tbody