//= require datatable

.grupo_especies_criterio {
  overflow-y: scroll;
  height: 150px;
  border: 1px solid #A2A4A5;
}

.calidad_fuste_criterio {
  overflow-y: scroll;
  height: 150px;
  border: 1px solid #A2A4A5;
}