.col-sm-offset-5
  %button.btn.btn-warning{"data-target" => "#myModalUbicacionTerritorial", "data-toggle" => "modal", :type => "button"}
    %i.fa.fa-map-marker
    Agregar Municipios
  #myModalUbicacionTerritorial.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h4#myModalLabel.modal-title
            .row
              .form-group
                = label_tag 'Estado:', nil, class: 'col-sm-2 control-label'
                .col-sm-8
                  = select_tag 'estado', options_from_collection_for_select(Estado.all, "id", "nombre"), class: 'form-control'
                .col-sm-2
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
        .modal-body
          .row
            .col-sm-6
              = render  'shared/ubicacion_territorial/table_municipios', modelo: modelo
            .col-sm-6
              = render  'shared/ubicacion_territorial/table_municipios_selected', modelo: modelo
        .modal-footer
          .row
            .col-sm-3.col-sm-offset-9
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar