.row
  .col-lg-12
    .ibox.float-e-margins
      .ibox-title
        %h3
          Parcela de Inventario
      .ibox-content
        .row.form-horizontal
          .col-md-4
            = label_tag :parcela, class: 'col-sm-6 control-label' do
              Parcela de Inventario Nro:
            .col-sm-6
              -#= selec