.row
  .col-md-12
    %h2
      Árboles de Inventario
    .ibox.float-e-margins
      .ibox-content.border-bottom
        .row
          .col-md-12
            .table-responsive.tabla-arboles-inventario
              %table#table_arboles_inventario
        .row
          .col-md-12
            .arboles-error-placement#divErrorPlacement
              %ul#ulError