.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-cogs
      Ajustes
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Ajustes
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-md-12.col-sm-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Asignación de Subcuenca de Trabajo
            %i.fa.fa-leaf
        .ibox-content
