-Vista.find_documentos_requisitos(vista).each do |documento_requisito|
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            =documento_requisito.descripcion
            - if documento_requisito.obligatorio
              %span.fa.fa-asterisk.red
            %small
              \ -
              Por páginas o documento completo.
        .ibox-content
          .row
            .col-sm-3
              %button.btn.btn-success.btn-block{"data-toggle"=>"modal","data-target"=>"##{documento_requisito.nombre.camelize}"}
                Subir Documento

  %div.modal.fade{id:documento_requisito.nombre.camelize,"aria-hidden" => "true", "aria-labelledby" => "poderNotariadoModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header.blue-bg
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title
            =documento_requisito.descripcion
        .modal-body
          = render 'shared/documentos/jquery_file_upload', modelo: modelo, vista: vista, documento_requisito: documento_requisito
        .modal-footer
          Al cargar el documento completo:
          %a.btn{"data-dismiss" => "modal"}
            Cerrar Ventana
            %span{"aria-hidden" => "true"} &times;

