.row
  .col-md-12
    %h3
      Criterio Florístico
.row.form-horizontal
  .col-sm-4
    .form-group
      = label_tag :especie, class: 'col-sm-4 control-label' do
        Especie:
      .col-sm-8
        = select :especie,:especie,  options_from_collection_for_select(Especie.all_empresa(current_user.empresa_forestal), :id, :nombre_comun), {include_blank: 'Seleccione una Especie'}, {class: 'form-control', id: 'especie_select'}
  .col-sm-4
    .form-group
      = label_tag :grupo_especie, class: 'col-sm-4 control-label' do
        Grupo de Especie:
        
