= provide(:title, "Editar Unidad de Ordenaci贸n")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-pagelines
      Unidades de Ordenaci贸n
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Unidades de Ordenaci贸n', unidad_ordenaciones_path
      %li.active
        %strong
          Editar Unidad de Ordenaci贸n
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'
