-#= provide(:title, "#{current_user.unidad_ordenacion.reserva_forestal.nombre rescue 'Simapro'} - Cuencas")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-pagelines
      Unidades de Ordenación
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Unidades de Ordenación', unidad_ordenaciones_path
      %li.active
        %strong
          Editar Unidad de Ordenación
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'
