-#= provide(:title, "#{current_user.unidad_ordenacion.reserva_forestal.nombre rescue 'Simapro'} - Cuencas")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    %h2
      %i.fa.fa-pagelines
      -#= current_user.unidad_ordenacion.reserva_forestal.nombre rescue 'Reserva'
      -#\- Cuencas
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        -#= link_to 'Cuencas', unidad_ordenacion_bloque_ordenacions_path
      %li.active
        %strong
          -#Edición de Cuenca
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'
