= provide(:title, "Simapro - Grupo Especie")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    %h2
      %i.fa.fa-tree
      Grupo Especie
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li.active
        %strong
          Edición de Grupo Especie
.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'
