// Place all the styles related to the EmpresaForestals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//=require documentos
//=require datatable
.amarillo{
  color: #F7A54A;
}
