= provide(:title, 'Registro Empresa Forestal')
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Registrar Empresa Forestal
      %span
        %i.fa.fa-building
= render 'form'
